* {
  @include box-sizing;
  line-height: 1.5;
}

html,
body {
  color: $default-color;
  margin: 0;
  padding: 0;
}

html {
  font-family: $serif-primary;
  font-size: 14px;

  @media (min-width: 600px) {
    font-size: 16px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-shade;
  font-family: $sans-serif;
  line-height: normal;
}

li,
ul,
p {
  color: $default-shade;
  font-family: $sans-serif;
  line-height: normal;
}

li,
ul {
  padding: 0.1rem 0.2rem 0.2rem 0.7rem;
}

#principles{
  padding-left:50px
}

#tech{
  font-size: 14px;
  font-family: $sans-serif;
}

#company{
  font-size: 14px;
  font-family:  $sans-serif;
}

h3{
  color: #A57548
}

a {
  color: #3250e4;
  text-decoration: none;
  font-family:  $sans-serif;
}

a:hover {
  color: #e43267;
  transition: color ease 0.3s;
}

blockquote {
  border-left: .25rem solid $grey-2;
  color: $grey-1;
  margin: .8rem 0;
  padding: .5rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

td {
  vertical-align: top;
  text-align: center;
}

.tag-size-5 {
  font-size: 1.25rem;
  font-family:  $sans-serif;
}

.tag-size-4 {
  font-size: 1.10rem;
  font-family:  $sans-serif;
}

.tag-size-3 {
  font-size: 0.95rem;
  font-family:  $sans-serif;
}

.tag-size-2 {
  font-size: 0.80rem;
  font-family:  $sans-serif;
}

.tag-size-1 {
  font-size: 0.75rem;
  font-family:  $sans-serif;
}